@import "tailwindcss";

@font-face {
  font-family: "Prata";
  src: local("Prata-Regular"), url("./assets/fonts/Prata-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Extralight"), url("./assets/fonts/poppins-extralight.ttf");
}

.bg-sign-in {
  background: url(../public/images/bg-login-page.jpg) no-repeat center center
    fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-sign-up {
  background-image: url("/images/bg-signup-page.jpg");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-attachment: fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.custom-heading {
  font-family: "Prata", Prata;
}

.custom-paragraph {
  font-family: "Poppins", Poppins;
}

.social-auth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: calc(var(--spacing) * 3);
  padding-inline: calc(var(--spacing) * 4);
  border: 1px solid #d1d5dc;
  border-radius: 0.5rem;
  color: #364153;
}
